In [8]:
### Reading Different Data sources with the help of pandas
from io import StringIO

In [7]:
import pandas as pd
df = pd.read_csv('mercedesbenz.csv') ### CSV : comma seperated value

In [3]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
data =('col1,col2,col3\n'
       'x,y,1\n'
       'a,b,c\n'
       'c,d,3')

In [6]:
type(data)

str

In [7]:
# in memomry file format object
StringIO(data)

In [8]:
pd.read_csv(StringIO(data))

  col1 col2 col3
0    x    y    1
1    a    b    c
2    c    d    3

In [9]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    x    y
1    a    b
2    c    d

In [11]:
import pandas as pd
df = pd.read_csv('mercedesbenz.csv') ### CSV : comma seperated value
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df = pd.read_csv('mercedesbenz.csv',usecols=['X0',	'X1',	'X2',	'X3',	'X4',	'X5'	])
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

In [14]:
df.to_csv('test.csv') ## change file name

In [15]:
df.to_csv('test.csv', index=False)

In [16]:
### datatypes in csv 
data =('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [18]:
df = pd.read_csv(StringIO(data))

In [19]:
df

   a   b   c    d
0  1   2   3  4.0
1  5   6   7  8.0
2  9  10  11  NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 228.0 bytes

In [22]:
df.head()

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [23]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [24]:
df['a']

0    1
1    5
2    9
Name: a, dtype: object

In [25]:
df['a'][0]

'1'

In [3]:
### datatypes in csv 
data =('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11')

In [27]:
df = pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':int})

In [28]:
df

   a     b   c    d
0  1   2.0   3  4.0
1  5   6.0   7  8.0
2  9  10.0  11  NaN

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int32
 1   b       3 non-null      float64
 2   c       3 non-null      int32
 3   d       2 non-null      float64
dtypes: float64(2), int32(2)
memory usage: 204.0 bytes

In [31]:
df.dtypes

a      int32
b    float64
c      int32
d    float64
dtype: object

In [32]:
data = ('index,a,b,c\n'
        '4,apple,bat,5.7\n'
        'B,orange,cow,10')

In [34]:
pd.read_csv(StringIO(data))

  index       a    b     c
0     4   apple  bat   5.7
1     B  orange  cow  10.0

In [41]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
B      orange  cow  10.0

In [52]:
# use index cols and usecols
data = ('a,b,c\n'
        '4,apple,bat\n'
        'B,orange,cow')

In [53]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=0)

          c
b
apple   bat
orange  cow

In [9]:
pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

HTTPError: HTTP Error 403: Forbidden