In [1]:
print("Hello World")
print("Welcome to my channel")

Hello World
Welcome to my channel

In [2]:
# Single line and Multi line Comments
'''
Welcome to my youtube
channel

'''
print("Hello")

Hello

In [3]:
## Variable decalartion
a=10
type(a)

int

In [4]:
print(a)

10

In [5]:
tenth=10
b=40
c="Krish"

In [6]:
type(c)

str

In [7]:
first_name = "Krish"
print(first_name)

Krish

In [8]:
##integers
a=10
type(a)

int

In [10]:
print(type(a))

<class 'int'>

In [7]:
b=20
print(a+b)

30

In [11]:
#floating 
a=190.5
a

190.5

In [12]:
## Tyape casting
print(type(a))

<class 'float'>

In [14]:
int(a)

190

In [8]:
## Boolean
a1=True
b1= False

In [9]:
type(a1)

bool

In [10]:
a1|b1

True

In [11]:
a1&b1

False

In [12]:
#strings
name1="Krish"

print(name1)
print(type(name1))

Krish
<class 'str'>

In [13]:
name1+"Naik"

'KrishNaik'

In [14]:
name1 + str(1)

'Krish1'

In [15]:
## Complex numbers
X=1.0-2.3j
X

(1-2.3j)

In [16]:
print(X.real,X.imag)

1.0 -2.3

In [17]:
#Dynamic Typing
a=10
a='Krish'

In [18]:
##Strong typing
a="Krish"

In [19]:
a+ str(1)

'Krish1'

In [20]:
#string formatting
a=100
print('The value is -',a)

The value is - 100

In [29]:
first_name="Krish"
last_name="Naik"
print("The first name is {} and the last name is {}".format(first_name,last_name))

The first name is Krish and the last name is Naik

In [30]:
first_name="Krish"
last_name="Naik"
print("The first name is {0} and the last name is {1}".format(first_name,last_name))

The first name is Krish and the last name is Naik

In [31]:
first_name="Krish"
last_name="Naik"
print("The first name is {1} and the last name is {0}".format(first_name,last_name))

The first name is Naik and the last name is Krish

In [32]:
first_name="Krish"
last_name="Naik"
print("The first name is {1} and the last name is {0}".format(last_name,first_name))

The first name is Krish and the last name is Naik

In [33]:
##input type
a= input("Enter the number A")
b= input("Enter the number B")
print(a+b)

9056

In [26]:
print(int(a)+int(b))

79