# SETS

In [1]:
type({})

dict

In [2]:
type({1})

set

In [3]:
print(set([1,2,3,4,5,5])) # set has no duplicate elements

{1, 2, 3, 4, 5}

In [4]:
#Defining an empty set

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [5]:
set_var={1,2,3,4}

In [6]:
set_var

{1, 2, 3, 4}

In [8]:
set_var={"Avengers","Ironman","Hitmman"}
print(set_var)
type(set_var)

{'Avengers', 'Ironman', 'Hitmman'}

set

In [10]:
set_var[2] #indexing is not possible

TypeError: 'set' object is not subscriptable

In [11]:
#SET is iterateable
for i in set_var:
    print(i)

Avengers
Ironman
Hitmman

In [12]:
## Invbuilt functions to set

set_var.add("Hulk")

In [19]:
set_var # set is sorted ordered collections

{'Avengers', 'Hitmman', 'Hulk', 'Ironman'}

In [20]:
set_1=set([4,2,3,1,6,7])
print(set_1)

{1, 2, 3, 4, 6, 7}

In [21]:
set_1.add(5)
set_1

{1, 2, 3, 4, 5, 6, 7}

In [22]:
set1={"Avengers","Ironman","Hitmman"}
set2={"Avengers","Ironman","Hitmman","Hulk2"}

In [23]:
set2.intersection(set1)

{'Avengers', 'Hitmman', 'Ironman'}

In [24]:
set2.intersection_update(set1)

In [25]:
set2

{'Avengers', 'Hitmman', 'Ironman'}

In [27]:
#differences
set1={"Avengers","Ironman","Hitmman"}
set2={"Avengers","Ironman","Hitmman","Hulk2"}
set2.difference(set1)

{'Hulk2'}

In [28]:
set2

{'Avengers', 'Hitmman', 'Hulk2', 'Ironman'}

In [29]:
# Difference update
set2.difference_update(set1)

In [30]:
set2

{'Hulk2'}

In [31]:
set1={"Avengers","Ironman","Hitmman"}
set2={"Avengers","Ironman","Hitmman","Hulk2"}

In [32]:
set2.issuperset(set1)

True

In [33]:
set2.issubset(set1)

False

# DICTIONARIES

In [34]:
type({})

dict

In [35]:
type(dict())

dict

In [36]:
type({1})

set

In [37]:
type({1:"Krish"})

dict

In [38]:
dict(name="Krish",age=31,last_name="Naik")

{'name': 'Krish', 'age': 31, 'last_name': 'Naik'}

In [39]:
## Let create a dictionary

my_dict={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [40]:
type(my_dict)

dict

In [41]:
## Indexing can be done in dictionaries
my_dict['Car1']

'Audi'

In [43]:
my_dict[0] # dictionaries have keys:values

KeyError: 0

In [44]:
my_dict.keys()

dict_keys(['Car1', 'Car2', 'Car3'])

In [45]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercidies Benz'])

In [46]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('Car2', 'BMW'), ('Car3', 'Mercidies Benz')])

In [47]:
# We can do iterations

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [48]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [49]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [50]:
for x in my_dict.keys():
    print(x)

Car1
Car2
Car3

In [51]:
# adding items in dictionaries
my_dict["Car4"]="Ambassador"

In [52]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Ambassador'}

In [53]:
my_dict["Car1"]="Audi 2.0"
my_dict

{'Car1': 'Audi 2.0',
 'Car2': 'BMW',
 'Car3': 'Mercidies Benz',
 'Car4': 'Ambassador'}

#### Nested Dictionary

In [54]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [55]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [56]:
car_type['car1']['Mercedes']

1960