# Lists

In [1]:
## mutable vs immutable
strl="Krish"
print(strl)
type(strl)

Krish

str

In [2]:
strl="Naik"
print(strl)

Naik

In [3]:
strl

'Naik'

In [4]:
strl[0]

'N'

In [5]:
strl[0:2]

'Na'

In [2]:
## string are immutable
strl[2]="j"

TypeError: 'str' object does not support item assignment

In [8]:
## Lists
type([])

list

In [12]:
lst=[1,2,3,4,"Krish","Hello"]
print(lst)
print(lst[0])
print(lst[4])

[1, 2, 3, 4, 'Krish', 'Hello']
1
Krish

In [13]:
## mutable
lst[4]="Naik"
print(lst)

[1, 2, 3, 4, 'Naik', 'Hello']

In [1]:
lst=list((1,2,3,4))
type(lst)
print(lst)

[1, 2, 3, 4]

In [23]:
lst=[1,2,3,4]
for i in lst :
    print(i**2)

1
4
9
16

In [25]:
lst=[1,2,3,4,5,6,7]
len(lst)

7

In [26]:
min(lst)

1

In [27]:
max(lst)

7

Append

In [32]:
lst

[1, 2, 3, 4, 5, 6, 7, 'Krish', 'Krish', 'Krish']

In [35]:
# .append is used to add elements in the list
lst.append("Krish")
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'Krish',
 'Krish',
 'Krish',
 ['John', 'Bala'],
 ['John', 'Bala'],
 'Krish']

In [34]:
lst.append(["John","Bala"])
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'Krish',
 'Krish',
 'Krish',
 ['John', 'Bala'],
 ['John', 'Bala']]

In [36]:
lst[10]

['John', 'Bala']

In [37]:
lst[10][0]

'John'

In [38]:
lst[2:]

[3,
 4,
 5,
 6,
 7,
 'Krish',
 'Krish',
 'Krish',
 ['John', 'Bala'],
 ['John', 'Bala'],
 'Krish']

In [42]:
lst[2:8]

[3, 4, 5, 6, 7, 'Krish']

In [43]:
## insert in a specific order

lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 'Krish',
 'Krish',
 'Krish',
 ['John', 'Bala'],
 ['John', 'Bala'],
 'Krish']

In [44]:
lst.insert(2,"Naik")
lst

[1,
 2,
 'Naik',
 3,
 4,
 5,
 6,
 7,
 'Krish',
 'Krish',
 'Krish',
 ['John', 'Bala'],
 ['John', 'Bala'],
 'Krish']

In [47]:
## Extend
lst=[1,2,3,4]
print(lst)
lst.extend([8,9])
print(lst)
lst.append([8,9])
print(lst)

[1, 2, 3, 4]
[1, 2, 3, 4, 8, 9]
[1, 2, 3, 4, 8, 9, [8, 9]]

# Various operations that we can perform in list

In [48]:
lst=[1,2,3,4,5]

In [49]:
sum(lst)

15

In [50]:
lst+5

TypeError: can only concatenate list (not "int") to list

In [51]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [52]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [58]:
lst=[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [59]:
## pop()
lst.pop()
lst

[1, 2, 3, 4]

In [60]:
lst.pop(0)
lst

[2, 3, 4]

In [66]:
# count()
lst=[1,1,1,1,2,2,2,3,4,5,5,5,5,6,7,8,9,8,9,10]
print(lst)
lst.count(1)

[1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 9, 8, 9, 10]

4

In [67]:
len(lst)

20

In [71]:
lst.index(1,1,4)

1

In [72]:
max(lst)

10

In [73]:
min(lst)

1